.navigation {
  display: flex;
  font-size: 1.5rem;
  line-height: 2.8rem;
}

.navigation__link {
  padding: 0 10px;
  list-style: none;
  cursor: pointer;
  @extend %transition;
  &:hover {
    color: $color-primary;
  }
}

.header__navigation {
  @include media-tablet {
    display: none;
  }
}