.layout-4-column {
  @include columns(21%)
}

.layout-3-column {
  @include columns(30%)
}

.layout-2-column {
  @include columns($width: 48%)
}

.layout-2-1-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wide-layout-item {
  width: 787px;
}

.narrow-layout-item {
  width: 377px;
}